/*------------Header--------------*/
@media only screen and (max-width: 768px) {
  .nav-link {
    font-size: 14px;
  }
  .container {
    grid-template-rows: 183px 183px 183px 183px;
    grid-template-columns: 216px 216px 216px;
    grid-gap: 18px;
  }
  .employee-img {
    width: 218px;
  }
  .iphone-vertical {
    left: 10px;
    top: 75px;
    width: 32%;
  }
  .iphone-horizontal {
    left: 208px;
    width: 63%;
    top: 176px;
  }
  .iphone-left {
    width: 21%;
    left: 102px;
    top: 123px;
  }
  .iphone-midle {
    width: 34%;
    left: 206px;
    top: 38px;
  }
  .iphone-right {
    width: 21%;
    left: 385px;
    top: 124px;
  }
  .slide-single {
    width: 590px;
  }
  .main-block {
    min-height: 500px;
  }
  .slider {
    min-height: 500px;
  }
  .block-70 {
    min-height: 500px;
  }
  .right-arrow-img {
    top: 245px;
    left: 17px;
  }
  .right-arrow-img:hover {
    zoom: 102%;
    top: 245px;
    left: 17px;
  }
  .left-arrow-img {
    top: 245px;
    left: 12px;
  }
  .left-arrow-img:hover {
    zoom: 102%;
    top: 245px;
    left: 12px;
  }
  .feature {
    margin-bottom: 39px;
    width: 45.9%;
  }
  .our-services .our-services-copy {
    height: 85px;
  }
  .portfolio p {
    height: 45px;
  }
}
